$primary: #00BDE8;
$primary-variant: #00ADD4;
$secundary: #FF8A00;
$secundary-variant: #FFA400;
$grey-text: #5B6C6F;
$background: #E5F7FB;
$blue-footer: #0085A0;
$white: #FFFFFF;
$grey-background: #F9F9F9;
$light-white: #FAFAFA;
$blue-content: #9AECFF;
$blue-medio: #00BDE8;

