@import '../../assets/style/colors';

.textStandar{
  color: $grey-text;
  font-weight: 600;
  font-size: 1.1rem;
  text-align: left;
}
.title{
  color: $grey-text;
  font-weight: bold;
  font-size: 2.2rem;
  text-align: left;
}

.inputStyle {
  background-color: $background;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  width: 100% !important;
}


  .btn-orange{
    background-color: $secundary;
    border-color: white;

  }


.editFooter{
  display: flex;
  justify-content: space-evenly;
}

.logo{
  height: 4rem;
}

