<template>
  <div class="p-5">
    <b-button variant="success" @click="info()">
        New Hobby
    </b-button>
    <table-common :items="hobbies" type="Hobbies" @edit="info"></table-common> 

    <b-modal :id="infoModal.id" :title="infoModal.title" :ok-title="'Guardar'" @ok="save" @hidden="resetInfoModal" size="lg">
      <form-generator :schema="this.schema"
                      v-model="this.formData"
                      :read="false">
      </form-generator>
    </b-modal>
  </div>
</template>
<script>
  import ButtonContratar from "../Buttons/buttonContratar.vue";
  import FormGenerator from "../FormGenerator";
  import TableCommon from '../TableCommon.vue'
  import  {schemaHobby} from '../../config/formsDashboard'

    export default {
        name: 'Hobbies',
        components: {TableCommon, FormGenerator, ButtonContratar},
        data() {
            return {
              hobbies:[],
              infoModal: {
                id: 'new-hobby',
                title: '',
                content: ''
              },
              formData:null,
              schema: schemaHobby
            }
        },
        mounted() {
          this.init()
        },
        methods: {
          init(){
            let loader = this.$loading.show()
            this.$http.get('hobbies/my-hobbies')
            .then((response) => {
              this.hobbies = response.body.data.hobbies;
            })
            loader.hide()
            //this.$emit('showError', null)
            //this.$store.commit('getErrors', [])
          },
          info(index=null) {
            if(index){
              this.formData={...this.hobbies[index-1]} ;
              this.infoModal.id =''+index;
            } else {
              this.formData = {name:''}
              this.infoModal.id = 'new-hobby';
            }
            this.infoModal.title = 'Details'
            this.$root.$emit('bv::show::modal', this.infoModal.id)
          },
          resetInfoModal() {
            this.infoModal.title = ''
            this.infoModal.content = ''
            this.formData = null

          },
          save(bvModalEvt) {
            let loader = this.$loading.show()

            if(this.formData.id){
              this.$http.put(`hobbies/${this.formData.id}`, this.formData)
              .then((response) => {
                let new_hobby = response.body.data.hobby
                let temp_hobbies = [...this.hobbies];
                this.hobbies = [];
                temp_hobbies[this.infoModal.id-1] = new_hobby
                this.hobbies = [...temp_hobbies];
                loader.hide()
              })
              .catch((error) => {
                  loader.hide()
              })
            } else {
              this.$http.post(`hobbies/create`,this.formData)
              .then((response) => {
                let new_hobby = response.body.data.hobby
                this.hobbies.push(new_hobby)
                loader.hide()
              })
              .catch((error) => {
                  loader.hide()

              })
            }
          }
        }
    }

</script>

<style lang="scss" rel="stylesheet/scss" scoped>
  @import '../../assets/style/formInput';
</style>
