<template>
  <div class="p-5">
    <table-common :items="users" type="Users" @Users="info" @edit="edit"></table-common>

    <b-modal :id="infoModal.id" :title="infoModal.title" :ok-title="'Guardar'" @ok="save" @hidden="resetInfoModal" size="xl">
      <div v-if="this.formData!=null">
        <form-generator :schema="this.schemaUser"
                        :read="read"
                        v-model="this.formData">
        </form-generator>

        <div v-if="this.formData.hobbies!=null">
          <h4>Hobbies</h4>
          <div v-for="(hobby, index) in formData.hobbies" v-bind:key="hobby.id">
            <form-generator :schema="schemaHobby"
                            :read="read"
                            v-model="formData.hobbies[index]">
            </form-generator>
          </div>
        </div>
      </div>
      <div style="display: flex; justify-content: space-around">
        <b-button class="btn-orange" @click="cancelA(formData.id)">
          Delete Company
        </b-button>
      </div>
    </b-modal>
  </div>
</template>

<script>
  import ButtonContratar from "../Buttons/buttonContratar.vue";
  import FormGenerator from "../FormGenerator";
  import TableCommon from '../TableCommon.vue'
  import  {schemaUser} from '../../config/formsDashboard'
  import  {schemaHobby} from '../../config/formsDashboard'
    export default {
        name: 'Users',
        components: {TableCommon, FormGenerator, ButtonContratar},
        data() {
            return {
              users:[],
              infoModal: {
                id: 'info-modal',
                title: '',
                content: ''
              },
              formData: null,
              schemaUser,
              schemaHobby,
              read:true
            }
        },
        mounted() {
          this.init()
        },
      watch:{
      },
        methods: {
          init(){
            let loader = this.$loading.show()
            this.$http.get('users')
            .then((response) => {
              this.users = response.body.data.users;
            })
            loader.hide()
          },
          info(index) {
            this.formData={...this.users[index-1]} ;
            console.log(this.formData);
            this.infoModal.id =''+index;
            this.infoModal.title = 'Details'
            this.$root.$emit('bv::show::modal', this.infoModal.id)
          },
          resetInfoModal() {
            this.infoModal.title = ''
            this.infoModal.content = ''
            this.read =true;
          },
          edit(index) {
            this.read =false;
            this.info(index);
          },
          save(){
            let loader = this.$loading.show()
            this.$http.put(`users/${this.formData.id}`, this.formData)
              .then((response) => {
                let new_user = response.body.data.user
                let temp_users = [...this.users];
                this.users = [];
                temp_users[this.infoModal.id-1] = new_user;
                this.users = [...temp_users];
                this.formData = [];
                loader.hide()
              })
              .catch((error) => {
                  loader.hide()
              })
          }
        }
    }

</script>

<style lang="scss" rel="stylesheet/scss" scoped>
  @import '../../assets/style/formInput';
</style>
