<template>
  <div class="row">
    <component
      v-for="(field, index) in schema"
               :key="index"
               :is="field.fieldType"
               :value="formData[field.name]"
               @input="updateForm(field.name, $event)"
               v-bind="field"
    :read="read"
    class="col-md-4">
    </component>
  </div>
</template>

<script>
  import SelectList from "./FormsFields/SelectList";
  import TextInput from "./FormsFields/TextInput";
  import ImageInput from "./FormsFields/ImageInput";
  export default {
    name: "FormGenerator",
    components: { SelectList, TextInput, ImageInput },
    props: ["schema", "value", "read"],
    data() {
      return {
        formData: this.value || {}
      };
    },
    methods: {
      updateForm(fieldName, value) {
        console.log('@updateForm', fieldName, value)
        this.$set(this.formData, fieldName, value);
       // this.$emit("input", this.formData);
      }
    }
  };
</script>

<style lang="scss" rel="stylesheet/scss" scoped>

</style>
