<template>

  <div class="row">
    <div class="col-2 d-none d-md-block"></div>
    <div class="content col-sm-12 col-md-8">
      <p class="title pt-5"> {{ titulo }}</p>
      <p class="subtittle pb-5"> {{ description }}</p>
    </div>

    <div class="col-2 d-none d-md-block"></div>
  </div>

</template>

<script>

    export default {
        name: 'basic',
        components: {},
        data() {
            return {}
        },
      props:{
        titulo: {
          default: 'web'
        },
        description: {
          type: String,
          default: ''
        }
      },
        mounted() {
        },
        methods: {}
    }

</script>

<style lang="scss" rel="stylesheet/scss" scoped>
  @import '../assets/style/colors';
  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
  }

  .title {
    color: $white;
    font-weight: 900;
    font-size: 5.7rem;
    letter-spacing: -0.03em;
  }

    @media (max-width: 940px){
      .title{
        font-size: 3rem !important;
      }
    }

  .subtittle{
    color: $white;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .row{
    margin: 0;
  }
</style>
