<template>

  <div class="row pt-5 pb-5">
    <div class="col-10">
      <p class="text">{{ textLabel }}</p>
        <b-form-input class="content" type="text" v-model="form.email" required/>
    </div>
    <div class="col-1">
      <button-check></button-check>
    </div>
    <div class="col-1"></div>

  </div>

</template>

<script>
import buttonCheck from './Buttons/buttonCheck.vue'
    export default {
        name: 'inputLabel',
        components: {buttonCheck},
        data() {
            return {
              form:{email:''}
            }
        },
        mounted() {
        },
        methods: {},
      props:{
          textLabel:{
            default: 'Email'}
      }
    }

</script>

<style lang="scss" rel="stylesheet/scss" scoped>
  @import '../assets/style/colors';

  .content{
    border: 2px solid $secundary-variant;
    height: 3.5rem;
  }

  .text{
    color: $primary;
    font-size: 0.8rem;
    margin-bottom: -1rem;
    position: absolute;
    background-color: $white;
    padding: 0.2rem;
    left: 2rem;
    top: -0.6rem;
  }

</style>
