<template>
    <div id="messages-container">
        <b-alert
            v-for="(message, i) in this.$store.state.errors"
            :key="`message_${i}`"
            :variant="prueba"
            :show="10"
            fade
            dismissible
            v-if="message!=null">
          <span>{{ message }}</span>
        </b-alert>
    </div>
</template>

<script>
  import { mapActions, mapState } from 'vuex';
export default {
  name: 'Messages',
  components: { },
  computed: {
    prueba(){
      console.log(this.$store.state.variant)
      return  this.$store.state.variant === undefined ? 'danger' : this.$store.state.variant
    }
      },
  methods: {
  },
  props:{
  /* messages:{
      type: Array,
      default: function () { return [] }
    }*/
  }
};
</script>

<style scoped>
#messages-container {
  position: fixed;
  z-index: 9999;

}
</style>
