<template>
  <transition name="fade" mode="out-in">
      <b-navbar toggleable="md" variant="faded" type="light" fixed="top" :class="xClass" :key="this.alter">
        <div class="col-2 d-none d-xl-block"></div>
        <b-navbar-toggle target="nav-text-collapse" class="mb-3"></b-navbar-toggle>
        <p class="letter">
                  DEMO U2
                </p>
        <b-collapse id="nav-text-collapse" is-nav>

            <b-navbar-nav>
              <b-nav-item>
                
              </b-nav-item>
            </b-navbar-nav>
          
        </b-collapse>


        <select-lang></select-lang>
        <div class="col-2 d-none d-xl-block" >
        <b-button @click="logout" class="btn-orange" v-if="verifyPath()">
          logout
        </b-button> 
        </div>
      </b-navbar>
  </transition>
</template>

<script>
import selectLang from './SelectLang.vue'
  export default {
    name: 'Navbar',
    components: {
      selectLang
    },
    data() {
      return {
      }
    },
    props:{
      alter: false
    },
    computed:{
      xClass(){
        return this.alter ? 'menu-alter' : 'menu'
      },
      labelClass(){
          return this.alter ? 'letter-alter' : 'letter'
      }
    },
    mounted ()
    {
    },
    methods:{
      logout(){
        if(localStorage.getItem('user-token')){
          localStorage.removeItem('user-token');
        }
        this.$router.push({name: 'Login'})
      },
      verifyPath() {
        return this.$route.path != '/login' && this.$route.path != '/create-account' && this.$route.path != '/'
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
  @import '../assets/style/colors.scss';
  @import '../assets/style/formInput';


  .nav-item{
    position: relative;
  }

  .nav-link{width: 8rem;}


  .navbar-nav{
    &:hover{
      .line{
        display: block;
      }
    }
  }

  .menu {
    background-color:$primary;
    z-index:99;
  }

  .menu-alter{
    background-color:$primary;
    z-index:99;
  }

  

  .letter {
    color: $white;
    font-weight: 800;
    font-size: 0.9rem;
    line-height: 1rem;
    margin-bottom: 0;
    text-align: center;
  }


  .icon{
    height: 5rem;
  }

 /* @media (max-width: 1681px){
    .store {
      display: none;
    }
  } */


  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

</style>
