<template>

  <div class="content">
    <div class="container-fluid">
      <a href="#" target="_blank">
        <img src="../assets/images/footer/IG.svg" alt="instagram"/>
      </a>
      <a href="#" target="_blank">
        <img src="../assets/images/footer/TW.svg" alt="twitter"/>
      </a>
      <a href="#" target="_blank">
        <img src="../assets/images/footer/FB.svg" alt="facebook"/>
      </a>
    </div>
    <p class="copyright">BY ULISES TOVAR © 2019, {{ 'footer.copyright' | translate }}</p>
   
    <div class="social">
      <a href="#" class="links pr-2">{{ 'footer.info' | translate }}</a>
      <p> | </p>
      <a class="links pl-2" href="#"> {{ 'footer.condition' | translate }}
      </a>
    </div>

  </div>

</template>

<script>

    export default {
        name: 'Section_Footer',
        components: {},
        data() {
            return {}
        },
        mounted() {
        },
        methods: {}
    }

</script>

<style lang="scss" rel="stylesheet/scss" scoped>
  @import '../assets/style/colors.scss';

  .content{
    background-color: $blue-footer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    color: $white;
  }

  .social{
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
  }

  .copyright{
    font-size: 16px;
    line-height: 33px;
    text-align: center;
    color: $white;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .links{
    color: $secundary;
    cursor: pointer;
  }

</style>
