<template>
  <b-form-group class="col-sm-12 col-md-4 textStandar"
                :label="$t('create.register.form1.language')">
    <b-form-radio-group v-model="selected">
        <b-form-radio value="spanish">
          <img :src="spanish" alt="spain"/>
        </b-form-radio>
        <b-form-radio value="english">
          <img :src="english" alt="usa"/>
        </b-form-radio>
    </b-form-radio-group>
  </b-form-group>
</template>

<script>
  import spanish from '../assets/images/createAccount/language/spain.svg'
  import english from '../assets/images/createAccount/language/usa.svg'
    export default {
        name: 'Language',
        components: {},
        data() {
            return {
              selected:'english',
              spanish,
              english,
            }
        },
        mounted() {
        },
      watch: {
        selected(){
            this.$emit('sendSelect', this.selected)
          }
      },
        methods: {}
    }

</script>

<style lang="scss" rel="stylesheet/scss" scoped>
  @import '../assets/style/colors';
  .textStandar{
    color: $grey-text;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: left;
  }
</style>
