<template>
  <div class="select-lang">
    <b-navbar-nav>
      <b-nav-item-dropdown right>
        <b-button slot="button-content" variant="link" class="locale-item" :style="{ width: 'min-content' }">
          &nbsp;&nbsp;{{ currentLocale.toUpperCase() }}
        </b-button>
        <b-dropdown-item
          v-for="locale in locales"
          :key="`locale${locale}`"
          @click="setLanguage(locale)"
          class="locale-item"
        >
          &nbsp;&nbsp;&nbsp;&nbsp;{{ locale.toUpperCase() }}
        </b-dropdown-item>
      </b-nav-item-dropdown>
    </b-navbar-nav>
  </div>
</template>

<script>

    export default {
      name: 'SelectLang',
      data () {
        return {
        }
      },
      computed: {
        locales () {
          return this.$i18n.locales()
        },
        currentLocale () {
          return this.$i18n.locale()
        }
      },
      methods: {
        setLanguage (locale) {
          this.$cookie.set('locale', locale)
          this.$i18n.set(locale)
        }
      }
    }
</script>

<style  lang="scss" rel="stylesheet/scss">
  @import '../assets/style/colors';

  .select-lang{
    height: fit-content;
    position: relative;
    z-index: 1000;
    a{
      background-color: transparent !important;
      margin-bottom: 5px;
      padding: 0 15px 0 8px !important;

      .locale-item{
        color: $secundary;
        font-weight: 500;
        &:hover, &:focus{
          outline: none;
          text-decoration: none;
        }
      }
      &:after{
        color: $secundary;
        margin-left: 5px;
      }
    }
    .dropdown-item{
      color: $primary-variant;
      font-weight: 500;

      &:hover, &:focus{
        outline: none;
        text-decoration: none;
      }
    }

    .navbar-nav .dropdown-menu {
      position: absolute;
      float: none;
    }

    @media (max-width: 576px) {
      top: 0px !important;
      a{
        background-color: transparent;
        color: $secundary-variant !important;
        &:after{
          color: $secundary;
        }
        .locale-item {
          color: $secundary-variant!important;
        }
      }
    }
  }
</style>
