<template>
  <div>
    <Navbar></Navbar>
    <messages class="pt-3"></messages>
    <router-view class="root"></router-view>
  <Section_Footer></Section_Footer>
  </div>

</template>

<script>
  import Navbar from '../components/Navbar.vue'
  import Messages from '../components/Messages.vue'
  import Section_Footer from './Section_Footer.vue'
    export default {
        name: 'basic',
        components: {Navbar, Section_Footer, Messages},
        data() {
            return {
              alternativo:false,
            }
        },
        mounted() {
        },
        methods: {
        }
    }

</script>

<style lang="scss" rel="stylesheet/scss" scoped>

  .root{
    margin-top: 5.5rem;
    margin-left: 0;
    margin-right: 0;
    min-height: 70vh;
  }
</style>
