<template>
  <div>

    <p class="title"> {{ type }}</p>
    <b-table striped hover
            :items="this.items"
            :fields="fields[type]"
            :current-page="currentPage"
            :per-page="perPage"
            class="textStandar">
      <template slot="actions" slot-scope="row">
        <b-button v-if="typeData!='Hobbies'" size="sm" @click="info(row.item, row.index)" class="mr-1 btn-orange">
          Details
        </b-button>
        <b-button size="sm" @click="edit(row.item, row.index)" class="mr-1 btn-orange">
          Edit
        </b-button>
      </template>
    </b-table>

   <b-row>
    <b-col md="6" class="my-1">
      <b-pagination
        v-model="currentPage"
        :total-rows="totalRows"
        :per-page="perPage"
        class="my-0"
      ></b-pagination>
    </b-col>
    </b-row>
  </div>

</template>

<script>

    export default {
        name: 'TableCommon',
        components: {},
        data() {
            return {
              fields:{
                Users:['name', 'username', 'email', 'city',
                {
                  key: 'profile_id', label:'Admin',
                  formatter: (value, key, item) => {
                  return value==1 ? 'Yes' : 'No'
                  }
                },
                'actions'],
                Hobbies:[{key: 'name', label: 'name'}, 'actions'],

              },
              currentPage: 1,
              perPage: 5,
              typeData: this.type
            }
        },
        mounted() {
         },
        methods: {
          info(item, index ){
            this.$emit(this.typeData, item.id)
          },
          edit(item, index){

            this.$emit('edit', item.id)
          }
        },
      props:{
        items: null,
        type:''
      },
      computed: {
        totalRows: function () {
          return this.items.length
        }
      }
    }

</script>

<style lang="scss" rel="stylesheet/scss" scoped>
  @import '../assets/style/colors';

  .textStandar{
    color: $grey-text;
    font-weight: 600;
    font-size: 1.1rem;
  }
  .title{
    color: $grey-text;
    font-weight: bold;
    font-size: 2.2rem;
    text-align: left;
  }

  .btn-orange{
    background-color: $secundary;
    border-color: white;

  }
</style>
