<template>
  <div class="col-3">
    <b-form-group class="col-sm-12 col-md-10 textStandar" :label="label">
    <img class="logo" :src="value"/>
    <div v-if="read!=true">
      <b-form-file
        class="col-12"
        v-model="file"
        :placeholder="placeholder"
        :drop-placeholder="placeholder"
      ></b-form-file>
      <div class="mt-3" v-if="file">Selected file: {{ file ? file.name : '' }}</div>
    </div>
    </b-form-group>
  </div>

</template>

<script>
import imageDefault from '../../assets/logo.png'
    export default {
        name: 'ImageInput',
        components: {},
        data() {
            return {
              file: null,
              imageDefault
            }
        },
        mounted() {
        },
      watch:{
        file(){
            if(this.file){
              console.log('@cheack', this.file)
              this.$emit('input',this.file)
            }
          }
      },
        methods: {},
      props: ['placeholder', 'label', 'name', 'value', 'read']
    }

</script>

<style lang="scss" rel="stylesheet/scss" scoped>
  @import '../../assets/style/formInput';


</style>
