<template>
  <div>
    <b-form-group class="col-sm-12 col-md-10 textStandar" :label="label">
      <select
        v-if="options.length > 0"
        class="inputStyle col-12"
        :multiple="multi"
        :value="value"
        @input="$emit('input',
           $event.target.value)"
      :disabled="read">
        <option v-for="option in options"
                :key="option.value" 
                :value="option.value">
          {{option.text}}
        </option>
      </select>
      <input
        v-if="options.length <= 0"
        class="inputStyle col-12" type="text"
             :name="name"
             :value="value"
             :disabled="read"/>
    </b-form-group>

  </div>
</template>
<script>
  export default {
    name: 'SelectList',
    props: ['multi', 'options', 'name', 'label', 'value', 'read']
  }
</script>

<style lang="scss" rel="stylesheet/scss" scoped>

  @import '../../assets/style/formInput';
</style>
