<template>
  <div>

    <b-form-group class="col-sm-12 col-md-10 textStandar" :label="label">
      <input class="inputStyle col-12" 
                    :type="type"
                    :name="name"
                    :value="value"
                    @input="$emit('input',$event.target.value)"
                    :placeholder="read==true ? '' : placeholder"
                    required
             :disabled="read"/>
    </b-form-group>
  </div>
</template>
<script>
  export default {
    name: 'TextInput',
    props: ['placeholder', 'label', 'name', 'value', 'read', 'type']
  }
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
  @import '../../assets/style/formInput';
</style>
