<template>
  <div id="app">
    <structure></structure>
  </div>
</template>

<script>
  import Structure from './components/Structure.vue'
export default {
  name: 'App',
  components: {Structure}
}
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,800,900');
  @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700,800,900');

#app {
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
</style>
