<template>

  <div class="btn" :style="colorClass">
    {{ textLabel }}
  </div>

</template>

<script>

    export default {
        name: 'ButtonContratar',
        components: {},
        data() {
            return {}
        },
      props:{
        textLabel:{
          type:String,
          default:''
        },
        color:{
          type: String,
          default:'#00ADD4'
        },
        textColor:{
          type: String,
          default:'#ffffff'
        }
      },
      computed: {
        colorClass () {
          return { color: this.textColor, backgroundColor: this.color }
        }
      },
        mounted() {
        },
        methods: {}
    }

</script>

<style lang="scss" rel="stylesheet/scss" scoped>
  @import '../../assets/style/colors';

  .btn{
    border-radius: 1rem 0;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Roboto Slab', serif;
    cursor: pointer;

    &:hover{
      background-color: $secundary-variant !important;
      color: $white !important;
    }
  }


</style>
