<template>

    <button class="btn">
      <p :class="isPay">
        {{ textLabel }}
      </p>
      <img src="../../assets/images/createAccount/button.svg" alt="check"/>
    </button>
</template>

<script>

    export default {
        name: 'buttonCheck',
        components: {},
        data() {
            return {}
        },
        mounted() {
        },
      props:{
        textLabel:{
          type:String,
          default:''
        }
      },
        methods: {},
      computed:{
          isPay(){
            return this.textLabel=='Pagar' ? 'buttonBig' : 'buttonText'
            }
      }
    }

</script>

<style lang="scss" rel="stylesheet/scss" scoped>
  @import '../../assets/style/colors';

  .buttonText{
    font-weight: 800;
    font-size: 1rem;
    color: $grey-text;
    margin-right: 0.4rem;
  }

  .buttonBig{
    font-weight: 800;
    font-size: 1.7rem;
    color: $grey-text;
    margin-right: 0.4rem;
  }

  .btn{
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-right: 0;
    margin-left: auto;
  }
</style>
