<template>

  <button class="btn">
    {{ textLabel }}
    <img class="plus" src="../../assets/images/home/Plus.svg" alt="plus"/>
  </button>

</template>

<script>

    export default {
        name: 'ButtonPlus',
        components: {},
        data() {
            return {}
        },
      props:{
          textLabel:{
            type:String,
            default:''
          }
      },
        mounted() {
        },
        methods: {}
    }

</script>

<style lang="scss" rel="stylesheet/scss" scoped>
  @import '../../assets/style/colors';

  .btn{
    border-radius: 5rem;
    background-color: $secundary;
    color: $white;
    font-weight: bold;
    font-size: 1rem;
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    padding: 1rem;

    &:hover{
      background-color: $secundary-variant;
    }
  }

  .plus{
    height: 1.8rem;
    margin-left: 0.2rem;
  }
</style>
