<template>

  <div class="row content pb-5">
    <div class="col-2 d-none d-md-block"></div>
    <div class="col-sm-12 col-md-8 p-5">
      <div>
        <p class="title pt-5"> {{ 'create.formTitle.title' | translate }}</p>
        <p class="textStandar"> {{ 'create.formTitle.subtitle' | translate }}</p>
        <div class="row pt-5">
          <div class="col-xl-6 col-md-12 col-sm-12">
            <img src="../assets/images/createAccount/objetcs.svg" alt="desktop"/>
          </div>
          <div class="col-xl-6 col-md-12 col-sm-12">
            <b-form>
              <b-form-group class="col-2 d-none d-sm-block"></b-form-group>

              <b-form-group class="col-sm-12 col-md-10 textStandar" :label="$t('create.form.name')">
                <b-form-input class="inputStyle" type="text" v-model="form.name" required/>
              </b-form-group>
              <b-form-group class="col-sm-12 col-md-10 textStandar" :label="$t('create.form.username')">
                <b-form-input class="inputStyle" type="text" v-model="form.username" required/>
              </b-form-group>
              <b-form-group class="col-sm-12 col-md-10 textStandar" :label="$t('create.form.email')">
                <b-form-input class="inputStyle" type="email" v-model="form.email" required/>
              </b-form-group>
              <b-form-group class="col-sm-12 col-md-10 textStandar" :label="$t('create.form.password')">
                <b-form-input class="inputStyle" type="password" v-model="form.password" required/>
              </b-form-group>
              <b-form-group class="col-sm-12 col-md-10 textStandar" :label="$t('create.form.confirmation')">
                <b-form-input class="inputStyle" type="password" v-model="form.confirmation" required/>
              </b-form-group>
              <b-form-group class="col-sm-12 col-md-10 textStandar" :label="$t('create.form.city')">
                <b-form-input class="inputStyle" type="text" v-model="form.city" required/>
              </b-form-group>
            </b-form>
            <button-check textLabel="Continuar" v-on:click.native="onAuth()"></button-check>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 d-none d-md-block"></div>
  </div>

</template>

<script>
import buttonCheck from '../components/Buttons/buttonCheck.vue'
import Messages from '../components/Messages.vue'
import  {schemaUser} from '../config/formsDashboard'
import FormGenerator from "../components/FormGenerator";
    export default {
        name: 'CreateAccount',
        components: {buttonCheck, Messages, FormGenerator},
        data() {
            return {
              schema: schemaUser,
              formData : null,
              form:{
                name: '',
                username:'',
                email: '',
                password: '',
                confirmation:'',
                city:''
              },
              index:1,
              errors: [],
            }
        },
        mounted() {
        },
        methods: {
          onAuth(){
            let loader = this.$loading.show()
              const RegisterData = {
                name: this.form.name,
                username: this.form.username,
                email: this.form.email,
                password: this.form.password,
                password_confirmation: this.form.confirmation,
                city: this.form.city
              };
            this.$http.post('auth/register', RegisterData)
                .then((response) => {
                  console.log(response)
                  loader.hide()
                  this.$router.push({ name: 'Login' });
                })
                .catch((error) => {
                  loader.hide()
                  this.errors=[]
                  if(error.body.code===422){
                    if(error.body.data.errors.email){
                      this.errors.push(error.body.data.errors.email[0])
                    }
                    if(error.body.data.errors.password){
                      this.errors.push(error.body.data.errors.password[0])
                    }
                    if(error.body.data.errors.name){
                      this.errors.push(error.body.data.errors.name[0])
                    }
                    if(error.body.data.errors.username){
                      this.errors.push(error.body.data.errors.username[0])
                    }
                  }else{
                    this.errors.push(error.body.data.errors)
                  }
                  this.$store.commit('getErrors', { item: this.errors, variante: 'danger'})
                });
            this.errors=[]
            this.$store.commit('getErrors', { item: [], variante: 'danger'})
          }
        },
      computed: {
        xClass(){
         if (this.errors===null) {return {display: 'none'}}
         else{return {display:'block'}}
        }
      }
    }

</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import '../assets/style/formInput';
  @import '../assets/style/colors';

  @media (max-width: 940px){

    img{
      height: 14rem !important;
    }
  }

  .textStandar{
    color: $grey-text;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: left;
  }
  .title{
    color: $grey-text;
    font-weight: bold;
    font-size: 2.2rem;
    text-align: left;
  }

  .inputStyle{
    background-color: $background;
    border: none;
  }

  .icon{
    height: 2rem;
  }


</style>
