<template>
  <div class="row content pb-5">
    <messages :messages="this.errors" class="pt-3"></messages>
    <div class="col-2 d-none d-md-block"></div>
    <div class="col-sm-12 col-md-8 p-5">
      <div>
        <p class="title pt-5"> {{ 'login.formTitle.title' | translate }}</p>
        <p class="textStandar"> {{ 'login.formTitle.subtitle' | translate }}</p>
        <div class="row pt-5">
          <div class="col-xl-6 col-md-12 col-sm-12">
            <img src="../assets/images/createAccount/objetcs.svg" alt="desktop"/>
          </div>
          <div class="col-xl-6 col-md-12 col-sm-12">
            <b-form>
              <b-form-group class="col-2 d-none d-sm-block"></b-form-group>

              <b-form-group class="col-sm-12 col-md-10 textStandar" :label="$t('create.form.email')">
                <b-form-input class="inputStyle" type="text" v-model="form.email" required/>
              </b-form-group>
              <b-form-group class="col-sm-12 col-md-10 textStandar" :label="$t('create.form.password')">
                <b-form-input class="inputStyle" type="password" v-model="form.password" required/>
              </b-form-group>
            </b-form>
            <button-check textLabel="Continuar" v-on:click.native="onAuth()"></button-check>
            <a class="textStandar" style="cursor: pointer;" v-on:click="$router.push({name: 'CreateAccount'})">Si no tienes cuenta, Registrate aqui</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 d-none d-md-block"></div>
  </div>
</template>

<script>
  import buttonCheck from '../components/Buttons/buttonCheck.vue'
  import Messages from '../components/Messages.vue'
    export default {
        name: 'Login',
        components: {buttonCheck, Messages},
    data() {
            return {
              form:{
                email: '',
                password: ''
              },
              errors: [],
            }
        },
        mounted() {
        },
        methods: {
          onAuth(){
            let loader = this.$loading.show()
            const RegisterData = {
              email: this.form.email,
              password: this.form.password
            };
            this.$http.post('auth/login', RegisterData)
              .then((response) => {
                loader.hide()
                let token = response.body.token.access_token;
                localStorage.setItem('user-token', token);
                if(response.body.data.user.profile_id == 1) {
                  this.$router.push({ name: 'Users'});
                } else {
                  this.$router.push({ name: 'Hobbies' });
                }
              })
              .catch((error) => {
                this.errors=[]
                loader.hide()
                if(error.body.code===422){
                  this.errors.push(error.body.message.errors.email)
                  this.errors.push(error.body.message.errors.password)
                }else{
                  this.errors.push(error.body.error)
                }
                this.$store.commit('getErrors', { item: this.errors, variante: 'danger'})
              });
            this.errors=[]
            this.$store.commit('getErrors', { item: [], variante: 'danger'})
          },
        }
    }

</script>

<style lang="scss" rel="stylesheet/scss" scoped>
  @import '../assets/style/colors';


  .textStandar{
    color: $grey-text;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: left;
  }
  .title{
    color: $grey-text;
    font-weight: bold;
    font-size: 2.2rem;
    text-align: left;
  }

  .inputStyle{
    background-color: $background;
    border: none;
  }

  .icon{
    height: 2rem;
  }
</style>
